.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-white;
  font-size: $font-size-base;
}

.header {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: $font-size-h1;
  margin: 20px 0 0;
}

.volume {
  padding: 9px 2px 5px;
  margin: 15px 15px 15px 0;
  background-color: $color-white;
  border: 1px solid $color-white;
  border-radius: 4px;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

main {
  display: block;
  flex-grow: 1;
}

.box-copyright {
  display: flex;
  justify-content: flex-end;
  margin-top: 42px;
  &__copy {
    margin: 25px 20px 0;
  }
}


@active: #3498DB;
@inactive: #000;

.toggle-switch {
  background: #ccc;
  width: 80px;
  height: 30px;
  overflow: hidden;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  
  &:after {
    content: " ";
    display: block;
    width: 40px;
    height: 30px;
    background-color: @active;
    border: 3px solid #fff;
    border-top: 0;
    border-bottom: 0;
    margin-left: -3px;
    transition: all 0.1s ease-in-out;
  }
  
  .active & {
    &:after {
      margin-left: 40px;
    }
  }
}

.toggle-label {
  display: inline-block;
  line-height: 30px;
}

.toggle-label-off {
  color: #3498DB;
}

.active {
  
  .toggle-label-off {
    color: #000;
  }

  .toggle-label-on {
    color: #3498DB;
  }
}