.container {
  width: 100%;
  max-width: $desktop-width;
  margin: 0 auto;
  padding: 0 72px;
  overflow-x: hidden;

  @include laptop {
    padding: 0 35px;
  }

  @include tablet {
    padding: 0 16px;
  }
}

.container--centered {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
}

.header__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.main-title {
  margin: 0 auto;
  font-weight: 700;
  font-size: $font-size-h1;
}

.footer {
  padding: 20px 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-shadow;
  opacity: 0;
  transition: opacity $default-transition;
  pointer-events: none;
  cursor: pointer;
}

.overlay--show {
  z-index: 50;
  opacity: 1;
  pointer-events: initial;
}
