.piano {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin: -20px 0 0;

  &--hints {
    .hint {
      display: initial;
    }
  }
}

.octave {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.key {
  position: relative;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0;
  text-align: center;
  font-size: 40px;
  font-family: sans-serif;
  font-weight: bold;
  border: 1px solid $color-white;
  border-radius: 0 0 5px 5px;
  box-shadow: none;
  cursor: pointer;
  user-select: none;
  transition: background-color
    $default-transition;
}

.key-w {
  @include note-size(84px);
  background-color: $color-white-rock;

  @include mobile {
    @include note-size(56px);
  }
}

.key-b {
  @include note-size(48px, true);
  font-size: 30px;
  color: $color-white;
  background-color: $color-jagger;
  z-index: 2;

  .hint {
    padding: 8px;
    font-size: 14px;
  }

  @include mobile {
    @include note-size(32px, true);
  }
}

.key-w.active {
  background-color: $color-tuscany;
}

.key-b.active {
  background-color: $color-black;
}

.hint {
  display: none;
  padding: 10px;
  font-weight: 300;
  font-size: 16px;
}

.name {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 1;
  font-weight: 700;
  font-size: 20px;
  color: $color-tuscany;
  transform: translateX(-50%);
}
