// Colors

$color-black: #121212;
$color-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);
$color-tuscany: #b46948;
$color-hint-of-yellow: #f3f3d3;
$color-white-rock: #d9d0ac;
$color-jagger: #3c2a47;
$color-gray: #cccccc;
$color-shadow: rgba(0, 0, 0, 0.2);

// Typography

$font-family: "Comfortaa", cursive, "Arial",
  sans-serif;
$font-size-base: 16px;
$font-size-h1: 1.5rem;

// Animation

$default-transition: 0.2s ease;
$menu-transition: 0.7s ease-in-out;

// Viewports

$mobile-width: 320px;
$tablet-width: 768px;
$laptop-width: 1024px;
$desktop-width: 1440px;
